

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Agrigation</title>
</head>
<body>
    <div>
        <a href="~/Home/Agrigation?DateStart=20161201&DateEnd=20161202&Mode=1">XML</a>
    </div>
    <div>
       <a href="~/Home/Agrigation?DateStart=20161201&DateEnd=20161202&Mode=2">CSV</a>
    </div>
</body>
</html>
